<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>952751070155-p93mdrsbmsr5niok99oqmiqvcohmb38g.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.952751070155-p93mdrsbmsr5niok99oqmiqvcohmb38g</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>952751070155-4dsk2ft1k53a5q0chrk5e07ak0mc5hd7.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBnHSLck4ikoo8K56PLJvWfkggyIXduACU</string>
	<key>GCM_SENDER_ID</key>
	<string>952751070155</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.wakdak.wakdakCustomer</string>
	<key>PROJECT_ID</key>
	<string>all-your-look</string>
	<key>STORAGE_BUCKET</key>
	<string>all-your-look.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:952751070155:ios:73a959f90115fcd3ba344e</string>
</dict>
</plist>